{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to my Amigurumi website!</p>
        </div>
    </div>
</header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sollicitudin tincidunt laoreet. Quisque in efficitur sem. Phasellus volutpat rhoncus interdum. Sed egestas ultricies dolor sed ultrices. Praesent efficitur in ipsum laoreet luctus. Donec euismod ante vitae odio consectetur volutpat. Donec quis ex tincidunt, euismod tortor et, interdum felis. Aenean viverra ipsum nec mattis rutrum. Pellentesque fermentum neque placerat neque varius, pellentesque scelerisque odio malesuada.
                        <br/><br/>
                        Nulla a fringilla arcu, eget tempor augue. Quisque sollicitudin felis in lectus sodales imperdiet. Quisque sit amet dui eget justo rhoncus convallis ac eget diam. In condimentum dui nibh, vel mollis diam congue ut. Nulla ultricies dignissim ligula id finibus. Nunc efficitur malesuada felis ut vulputate. Aliquam quis neque ut nisl pulvinar luctus. Praesent at neque dui. Proin posuere efficitur fermentum.
                        <br/><br/>
                        Sed auctor massa nibh, nec imperdiet augue efficitur eget. Vestibulum ultricies euismod nisl ut porta. Suspendisse velit velit, sollicitudin quis aliquet vel, vestibulum eu urna. Nulla commodo ligula pharetra auctor aliquam. Curabitur posuere finibus ante sit amet euismod. Quisque eget tellus sit amet risus consectetur tincidunt eget in odio. Nullam sit amet orci fermentum, placerat nibh id, lacinia ligula. Mauris quis commodo velit, ut semper justo. Praesent nisl sapien, fringilla sit amet ante non, facilisis gravida mauris. Morbi lacinia dapibus fringilla. Proin elementum, sem porta egestas eleifend, sapien sem semper sem, eget pharetra ligula elit et tortor. Donec dapibus elit vel enim scelerisque vulputate. Sed varius accumsan nisl, in scelerisque quam consectetur id. Aenean et ante non lacus porta sagittis.
                    </p>
                    <br/><br/>
                </div>
            </center>
        </div>
    </div>


{% endblock %}